<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>RAN Technology - Digital Marketing Agency</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS ============================================ -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <!-- Icon Font CSS -->
  <link rel="stylesheet" href="/css/icons.min.css" />
  <!-- Plugins CSS -->
  <link rel="stylesheet" href="/css/plugins.css" />
  <!-- Main Style CSS -->
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>


  <%- include("partials/header") %>
    <%- include("partials/homes/top-banner") %>
      <%- include("partials/homes/our-product-range.ejs") %>


        <div class="product-area pt-100 pb-100">
          <div class="container">
            <div class="row text-center">
              <div class="welcome-content text-center">
                <h1 style="text-transform: uppercase">
                  SKYDECOR'S TRENDNG Laminates
                </h1>
              </div>
            </div>

            <!-- Tabs -->
            <div class="product-tab-list nav pt-30 pb-30 text-center">

              <a href="#product-1" class="active" data-bs-toggle="tab">
                <h4>1 MM + Laminates</h4>
              </a>

              <a href="#product-2" data-bs-toggle="tab">
                <h4>0.8 MM Laminates</h4>
              </a>

              <a href="#product-3" data-bs-toggle="tab">
                <h4>Liner Laminates</h4>
              </a>


              <a href="#product-5" data-bs-toggle="tab">
                <h4>FR FLEXI Laminates</h4>
              </a>


              <a href="#product-4" data-bs-toggle="tab">
                <h4>Acrylic Laminates</h4>
              </a>

              <a href="#product-4" data-bs-toggle="tab">
                <h4>Exterior Cladding </h4>
              </a>

            </div>

            <!-- Tab Content -->
            <div class="tab-content jump">
              <!-- 1mm -->
              <div class="tab-pane active" id="product-1">
                <div class="row item-wrapper1">
                  <% const oneMM=productsByCategory.find(c=> c.category === "1mm");
                    %> <%- include('partials/related-product-card', { products: oneMM ? oneMM.products : [] }) %>
                      <div class="view-more text-center mt-20 col-12">
                        <a class="loadMore1" href="/products/page/1mm">VIEW MORE PRODUCTS</a>
                      </div>
                </div>
              </div>

              <!-- 0.8mm -->
              <div class="tab-pane" id="product-2">
                <div class="row item-wrapper2">
                  <% const zeroEightMM=productsByCategory.find(c=> c.category ===
                    "0.8mm"); %> <%- include('partials/related-product-card', { products: zeroEightMM ?
                      zeroEightMM.products : [] }) %>
                      <div class="view-more text-center mt-20 col-12">
                        <a class="loadMore2" href="/products/page/0.8mm">VIEW MORE PRODUCTS</a>
                      </div>
                </div>
              </div>

              <!-- Liner -->
              <div class="tab-pane" id="product-3">
                <div class="row item-wrapper3">
                  <% const liner=productsByCategory.find(c=> c.category ===
                    "liner"); %> <%- include('partials/related-product-card', { products: liner ? liner.products : [] })
                      %>
                      <div class="view-more text-center mt-20 col-12">
                        <a class="loadMore3" href="/products/page/liner">VIEW MORE PRODUCTS</a>
                      </div>
                </div>
              </div>

              <!-- Acrylic -->
              <div class="tab-pane" id="product-4">
                <div class="row item-wrapper4">
                  <% const acrylic=productsByCategory.find(c=> c.category ===
                    "Acrylish"); %> <%- include('partials/related-product-card', { products: acrylic ? acrylic.products
                      : [] }) %>
                      <div class="view-more text-center mt-20 col-12">
                        <a class="loadMore4" href="/products/page/Acrylish">VIEW MORE PRODUCTS</a>
                      </div>
                </div>
              </div>

              <!-- PVC -->
              <div class="tab-pane " id="product-5">
                <div class="row item-wrapper5">
                  <% const pvc=productsByCategory.find(c=> c.category === "PVC"); %>
                    <%- include('partials/related-product-card', { products: pvc ? pvc.products : [] }) %>
                      <div class="view-more text-center mt-20 col-12">
                        <a class="loadMore5" href="/products/page/PVC">VIEW MORE PRODUCTS</a>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>





        <section class="about bg-dark-gery pt-100 pb-100">
          <div class="container">
            <div class="row">
              <!-- Left Image -->
              <div class="col-md-6 animate-box" data-animate-effect="fadeInUp">
                <img src="/images/visual/visual.jpeg" alt="Skydecor Logo" class="img-fluid" />
              </div>

              <!-- Right Content -->
              <div class="col-md-6 mt-4 animate-box d-flex justify-content-center align-items-start"
                style="flex-direction: column" data-animate-effect="fadeInUp">
                <div class="skydecor-section-title text-white" style="margin-bottom: 24px">
                  DISCOVER VISUALIZER
                </div>

                <p class="about-skydecor-p mb-4 text-white text-start">
                  The art of design lies in bringing your vision to life. Experiment
                  with SkyDecor’s range of stunning laminate and décor finishes, and
                  choose the one that truly reflects your style. Our Visualizer is
                  here to help you explore endless possibilities and make your
                  perfect choice with confidence. Our Visualizer is here to help you
                  explore endless possibilities with confidence.
                </p>

                <a href="/" class="btn btn-outline-light fw-light" style="padding: 10px 30px; margin-left: 25px">
                  Know More
                </a>
              </div>
            </div>
          </div>
        </section>



        <div class="brand-logo-area pt-100 about-brand-logo">
          <div class="container">
            <div class="brand-logo-active owl-carousel owl-dot-none">
              <div class="single-brand-logo">
                <img src="/images/icon/brand-logo-1.png" alt="" />
              </div>
              <div class="single-brand-logo">
                <img src="/images/icon/brand-logo-2.png" alt="" />
              </div>
              <div class="single-brand-logo">
                <img src="/images/icon/brand-logo-3.png" alt="" />
              </div>
              <div class="single-brand-logo">
                <img src="/images/icon/brand-logo-4.png" alt="" />
              </div>
              <div class="single-brand-logo">
                <img src="/images/icon/brand-logo-5.png" alt="" />
              </div>
            </div>
          </div>
        </div>

        <section class="cta-bg-img" style="background-image: url(/images/parallax/bg6.jpg)">
          <div class="container text-center">
            <div class="inner-box">
              <h2>
                <img src="/images/parallax/textpart1.png" alt="Text Banner" />
              </h2>
              <a href="./home" class="readmore">
                <i class="fa fa-solid fa-arrow-right fa-xl" style="color: #fff"></i>
              </a>
            </div>
          </div>
        </section>

        <section class="cta-bg-img" style="background-image: url(/images/parallax/bg5.jpg)">
          <div class="container text-center">
            <div class="inner-box">
              <h2>
                <img src="/images/parallax/textpart2.png" class="text-part-size" alt="Text Banner" />
              </h2>
              <a href="./home" class="readmore">
                <i class="fa fa-solid fa-arrow-right fa-xl" style="color: #fff"></i>
              </a>
            </div>
          </div>
        </section>


        <section class="about bg-dark-gery pt-100 pb-100">
          <div class="container">
            <div class="row">


              <!-- Right Content -->
              <div class="col-md-6 mt-4 animate-box d-flex justify-content-center align-items-start"
                style="flex-direction: column" data-animate-effect="fadeInUp">
                <div class="skydecor-section-title text-white" style="margin-bottom: 24px ; text-transform: uppercase;">
                  Why Skydecor ?
                </div>

                <p class="about-skydecor-p mb-4 text-white text-start">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged.

                  <br> <br>


                  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                  Ipsum.
                </p>

                <a href="/about-us" class="btn btn-outline-light fw-light"
                  style="padding: 10px 30px; margin-left: 25px">
                  Read More +
                </a>
              </div>


              <!-- Left Image -->
              <div class="col-md-6 animate-box" data-animate-effect="fadeInUp">
                <img src="/images/home/why-sky.jpg" alt="Skydecor Logo" class="img-fluid" />
              </div>

            </div>
          </div>
        </section>






        <section class="pt-100 pb-100">
          <div class="container">
            <div class="welcome-content text-center">
              <h1 style="text-transform: uppercase">It's time to #StayCurious</h1>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-md-6">
                <div class="vid-area mb-30">
                  <video controls autoplay loop muted>
                    <source src="https://res.cloudinary.com/dtlazsqas/video/upload/v1748254339/videoplayback_zc120w.mp4"
                      type="video/mp4" />
                    <source src="https://waltz.co.in/introvideo.webm" type="video/webm" />
                    Your browser does not support the video tag.
                  </video>
                </div>
              </div>

              <div class="col-md-6">
                <div class="vid-area mb-30">
                  <video controls loop muted>
                    <source
                      src="https://skydecor.in/products/SKYBOND-ADHESIVE/How_to_install_Skydecor_PVC_Laminates.mp4"
                      type="video/mp4" />
                    <source src="" type="video/webm" />
                    Your browser does not support the video tag.
                  </video>
                </div>
              </div>


            </div>
          </div>
        </section>



        <%- include("partials/homes/customer-review.ejs") %>



          <div class="Blog-area pt-100 pb-100 blog-no-sidebar">
            <div class="container">
              <div class="welcome-content text-center">
                <h5>Blog</h5>
                <h1>Trends & Tips in Laminates</h1>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <%- include('partials/blog-card', { blogs: blogs }) %>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <%- include("partials/footer") %>



            <%- include("partials/product-modal") %>


              <!-- All JS is here  ============================================ -->

              <script src="/js/vendor/modernizr-3.11.7.min.js"></script>
              <script src="/js/vendor/jquery-v3.6.0.min.js"></script>
              <script src="/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
              <script src="/js/vendor/popper.min.js"></script>
              <script src="/js/vendor/bootstrap.min.js"></script>
              <script src="/js/plugins.js"></script>
              <script src="/js/ajax-mail.js"></script>
              <script src="/js/main.js"></script>


</body>

</html>